<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <LayoutView Layout="@typeof(Shared.MainLayout)" RouteData="@routeData" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Shared.MainLayout)">
                <p class="text-zinc-700">Sorry, there’s nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code { }
