@inherits LayoutComponentBase
<div class="container">
    <div class="row" style="margin-bottom:10px;">
        <div class="header-title">KPIs, Scorecards, Goal Meters and Cards — Centralized CI/CD Adoption</div>
        <span class="tag">Static · amCharts 5 · Blazor WASM</span>
    </div>

    <div class="grid">
        @Body
    </div>
</div>
